.center-text {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 45%;
}

.list {
    text-align: center;
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
}